
<section class="contact-section">
  <h2>Contact Information</h2>
  <div class="contact-item">
    <mat-icon color="primary">phone</mat-icon>
    <span>Phone: <a href="tel:+1234567890">+91-040-4023-4400</a></span>
  </div>
  <div class="contact-item">
    <mat-icon color="primary">email</mat-icon>
    <span>Email: <a href="mailto:support@resourcetracker.com">resourcetrackersuppport&#64;ctepl.com</a></span>
  </div>
  <div class="contact-item">
    <mat-icon color="primary">location_on</mat-icon>
    <span>Address: Capital Park, Capital Pk Rd, VIP Hills, Jaihind Enclave, Madhapur, Hyderabad, Telangana 500081</span>
  </div>
</section>

